<h1 class="logo">The Feed</h1>
<p>The latest Vibes from our users</p>
<% counter = 1 %>
<section class="feed-section">
    <% @recent_vibes.each do |vibe| %>
        <h1 class="vibe-title"><%=vibe.name%></h1>
        <div class="slideshow-container">
            <% vibe.posts.each do |post| %>
                <div class="slide-cards sliders<%=counter%> fade">
                    <div class="card-body">
                        <div class="card-left">
                            <h1> <%= post.title %> </h1>
                            <p><%= post.post_body %></p>
                        </div>
                        <div class="card-right">
                            <%= post.song_uri %>
                        </div>
                    </div>
                </div>
            <% end %>
            <a class="prev" onclick="plusSlides(-1, <%= counter - 1 %>)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, <%= counter - 1 %>)">&#10095;</a>
        </div>
        <% counter += 1 %>
        <% if counter > 20 %>
            <% break %>
        <% end %>
    <% end %>
</section>