<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="<%= url('main.css') %>">
        <link rel="stylesheet" href="<%= url('carousel.css') %>">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div id="the-view">
            <% flash.keys.each do |type| %>
                <div class="flash <%= type %>">
                <%= flash[type] %>
                <a class='close-button' href='#'>x</a>
                </div>
            <% end %>
            <nav>
                <ul>
                    <li class="logo"><a href="/">Vibes</a></li>
                    <li><a href='/'>Feed</a></li>
                    <li><a href="/users">Users</a></li>
                    <li class="dropdown">
                        <a class="dropbtn">Create</a>
                        <div class="dropdown-content">
                            <a href="/">New Post</a>
                            <a href="/">New Vibe</a>
                        </div>
                    </li>
                    <li class="login"><a href="/sign-in">Log In</a></li>
                </ul>
            </nav>
            <%= yield %>
        </div>
        <script src="<%= url('carousel.js') %>" type="text/javascript"></script>
        <script src="<%= url('main.js') %>" type="text/javascript"></script>
    </body>
</html>