<% counter = 1 %>
<section>
    <% if session[:user_id] == @current_user.id %>
        <a class="no-link" href="/users/<%= session[:user_id] %>/edit"><div class="edit-button"><p>Edit Profile</p></div></a>
    <% end %>
    <% @current_all_vibes.each do |vibe| %>
        <h1 class="vibe-title"><%=vibe.name%></h1>
        <div class="slideshow-container">
            <% vibe.posts.each do |post| %>
                <div class="slide-cards sliders<%=counter%> fade">
                    <h1> <%= post.title %> </h1>
                    <div class="card-body">
                        <p><%= post.post_body %></p>
                        <%= post.song_uri %>
                    </div>
                </div>
            <% end %>
            <a class="prev" onclick="plusSlides(-1, <%= counter - 1 %>)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, <%= counter - 1 %>)">&#10095;</a>
        </div>
        <% counter += 1 %>
        <% if counter > 3 %>
            <% break %>
        <% end %>
    <% end %>
</section>